@use '../vars/colors' as c;

body {
    background-color: c.$black;
    color: c.$white;
}

a {
    color: c.$primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
