@use '../vars/colors' as clr;

body {
    background-color: clr.$black;
    color: clr.$white;
}

a {
    color: clr.$secondary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
