@use '../vars/colors' as c;
@use '../vars/spacing' as s;
@use '../vars/fonts' as f;

@use '../mixins/various' as *;

button {
    background-color: c.$gray;
    border-color: transparent;
    color: c.$white;
    padding: s.$s-4 s.$s-1;
    cursor: pointer;
    white-space: nowrap;

    @include rounded-corners;

    &:hover {
        background-color: c.$primary;
        color: c.$dark-gray;
    }

    > i {
        margin: 0 s.$s-4;
    }

    &.small {
        padding: s.$s-4 s.$s-2;
        font-size: f.$f-1;
    }

    &.warning {
        &:hover {
            background-color: c.$error;
            color: c.$white;
        }
    }
}

label {
    display: block;
}

input {
    border-color: transparent;
    padding: s.$s-4 s.$s-1;
    @include rounded-corners;

    &.small {
        padding: s.$s-4 s.$s-2;
        font-size: f.$f-1;
    }

    &:disabled {
        color: c.$gray;
    }
}

.addon {
    display: flex;
    justify-content: flex-start;

    input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .prefix {
        padding: s.$s-3 s.$s-5 s.$s-3 0;
        font-family: f.$family-mono;
    }
}
