@use "../vars/fonts" as f;
@use "../vars/colors" as clr;

:root {
    font-size: calc(1rem + 0.5vw);
}

body {
    font-family: f.$family-sans;
}

* {
    max-width: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer {
    max-width: none;
}

input {
    font-family: f.$family-mono;
}

.small-print {
    font-size: f.$f-1;
    color: clr.$light-gray;
    font-family: f.$family-mono;
    padding: 0;
    list-style-position: inside;
}
