@use "../vars/fonts" as f;

:root {
    font-size: calc(1rem + 0.5vw);
}

body {
    font-family: f.$family-sans;
}

* {
    max-width: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer {
    max-width: none;
}

input {
    font-family: f.$family-mono;
}
