$primary: hsl(48, 91%, 52%);
$midnight: hsl(210, 97%, 25%);
$error: hsl(8, 93%, 55%);
$success: hsl(165, 60%, 48%);

$black: hsl(0, 0%, 7%);
$dark-gray: hsl(228, 6%, 15%);
$gray: hsl(220, 7%, 25%);
$light-gray: hsl(217, 8%, 66%);
$white: hsl(225, 20%, 96%);

$gr-midnight-start: hsla(210, 97%, 25%, 20%);
$gr-midnight-end: hsla(210, 97%, 15%, 0);
