@use "../vars/spacing" as s;
@use "../vars/colors" as c;
@use "../vars/fonts" as f;

.EntryGroup {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: s.$s0;

    li > * {
        height: s.$s5;
        width: s.$s5;
        background-color: c.$midnight;
        border-radius: s.$s-4;
    }

    li > div {
        position: relative;

        > p {
            font-size: f.$f-1;
            padding: s.$s-1;
            opacity: 0;
            color: c.$light-gray;
            transition: opacity 50ms ease-in-out;
        }

        &:hover > * {
            opacity: 1;
        }
    }

    .create-entry {
        background-color: transparent;
        border: s.$s-5 dashed c.$light-gray;

        &:hover {
            color: c.$primary;
            border-color: c.$primary;
        }
    }

    .delete-entry {
        position: absolute;
        height: s.$s2;
        width: 100%;
        right: 0;
        bottom: 0;
        left: 0;

        opacity: 0.5;

        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &:hover {
            color: c.$white;
            background-color: c.$error;
        }
    }
}
