@use '../vars/colors' as c;
@use '../vars/spacing' as s;
@use '../vars/fonts' as f;
@use '../mixins/various' as *;

.Toast {
    position: relative;
    background-color: c.$success;
    color: c.$black;
    padding: s.$s-2 s.$s-1;
    font-size: f.$f-1;

    @include rounded-corners;

    p + p {
        margin-top: s.$s-2;
    }

    .delete {
        position: absolute;
        color: c.$dark-gray;
        top: s.$s-4;
        right: 0;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: transparent;
            color: c.$error;
        }
    }
}
